/* ----------- Advantages Styles ----------- */
.advantages {
  background-color: getColor('bg-secondary');

  @include _phone {
    padding-top: 20px;
    padding-bottom: 48px;
  }

  @include _tablet {
    display: flex;
    margin: -30px;

    padding-top: 33px;
    padding-bottom: 70px;
  }
}

.advantages__list {
  @include _tablet {
    display: flex;
    margin: -30px;
  }
}

.advantages__item {
  @include _phone {
    max-width: 230px;
  }

  @include _tablet {
    flex-basis: calc((100% - 3 * 60px) / 3);
    margin: 30px;
  }
}

.advantages__item:not(:last-child) {
  @include _phone {
    margin-bottom: 38px;
  }
}

.advantages__item::before {
  content: '';
  display: block;
  height: 50px;
  background-size: cover;

  @include _phone {
    margin-bottom: 16px;
  }

  @include _tablet {
    margin-bottom: 36px;
  }
}

.advantages__item:first-child::before {
  width: 33px;
  background-image: url('../images/advantages/advantage-1.png');

  @include _pixel_x2 {
    background-image: url('../images/advantages/advantage-1@2x.png');
  }

  @include _pixel_x3 {
    background-image: url('../images/advantages/advantage-1@3x.png');
  }
}

.advantages__item:nth-child(2)::before {
  width: 50px;
  background-image: url('../images/advantages/advantage-2.png');

  @include _pixel_x2 {
    background-image: url('../images/advantages/advantage-2@2x.png');
  }

  @include _pixel_x3 {
    background-image: url('../images/advantages/advantage-2@3x.png');
  }
}

.advantages__item:last-child::before {
  width: 44px;
  background-image: url('../images/advantages/advantage-3.png');

  @include _pixel_x2 {
    background-image: url('../images/advantages/advantage-3@2x.png');
  }

  @include _pixel_x3 {
    background-image: url('../images/advantages/advantage-3@3x.png');
  }
}

.advantages__accent {
  display: block;
  margin-bottom: 20px;

  font-family: Titan One;
  text-transform: uppercase;
  color: getColor('accent');

  @include _phone {
    @include font(36px, 41px);
  }

  @include _tablet {
    @include font(48px, 55px);
  }
}

.advantages__text {
  color: getColor('text-secondary');

  @include _phone {
    @include font(12px, 20px, 700);
  }

  @include _tablet {
    @include font(14px, 24px, 700);
  }
}
