/* ----------- Advantages Styles ----------- */
.advantages {
  background-color: getColor('bg-secondary');

  @include _phone {
    padding-top: 20px;
    padding-bottom: 48px;
  }

  @include _tablet {
    padding-top: 33px;
  }

  @include _tablet_and_desktop {
    display: flex;
    margin: -30px;
    padding-bottom: 70px;
  }

  @include _desktop {
    padding-top: 20px;
  }
}

.advantages__list {
  @include _tablet {
    display: flex;
    margin: -30px;
  }

  @include _desktop {
    display: flex;
    margin: -15px;
  }
}

.advantages__item {
  @include _phone {
    max-width: 230px;
  }

  @include _tablet {
    flex-basis: calc((100% - 3 * 60px) / 3);
    margin: 30px;
  }

  @include _desktop {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.advantages__item:not(:last-child) {
  @include _phone {
    margin-bottom: 38px;
  }
}

.advantages__item::before {
  content: '';
  display: block;
  height: 50px;
  background-size: cover;

  @include _phone {
    margin-bottom: 16px;
  }

  @include _tablet {
    margin-bottom: 36px;
  }

  @include _desktop {
    margin-bottom: 40px;
  }
}

.advantages__item:first-child::before {
  width: 33px;
  background-image: url('../images/advantages/advantage-1.png');

  @include _pixel_x2 {
    background-image: url('../images/advantages/advantage-1@2x.png');
  }

  @include _pixel_x3 {
    background-image: url('../images/advantages/advantage-1@3x.png');
  }
}

.advantages__item:nth-child(2)::before {
  width: 50px;
  background-image: url('../images/advantages/advantage-2.png');

  @include _pixel_x2 {
    background-image: url('../images/advantages/advantage-2@2x.png');
  }

  @include _pixel_x3 {
    background-image: url('../images/advantages/advantage-2@3x.png');
  }
}

.advantages__item:last-child::before {
  width: 44px;
  background-image: url('../images/advantages/advantage-3.png');

  @include _pixel_x2 {
    background-image: url('../images/advantages/advantage-3@2x.png');
  }

  @include _pixel_x3 {
    background-image: url('../images/advantages/advantage-3@3x.png');
  }
}

.advantages__accent {
  display: block;

  font-family: Titan One;
  text-transform: uppercase;
  color: getColor('accent');

  @include _phone {
    @include font(36px, 41px);
  }

  @include _phone_and_tablet {
    margin-bottom: 20px;
  }

  @include _tablet {
    @include font(48px, 55px);
  }

  @include _desktop {
    margin-bottom: 15px;
    @include font(58px, 66px);
  }
}

.advantages__text {
  color: getColor('text-secondary');

  @include _phone {
    @include font(12px, 20px, 700, 0.02);
  }

  @include _tablet {
    @include font(14px, 24px, 700, 0.02);
  }

  @include _desktop {
    @include font(16px, 28px, 700, 0.02);
  }
}
