.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include _phone_gap {
    width: 480px;
  }

  @include _tablet {
    width: 730px;
  }

  @include _desktop {
    width: 1080px;
  }
}
