.contacts {
  background-color: getColor('bg-secondary');

  @include _phone {
    padding-top: 85px;
    padding-bottom: 56px;

    background: linear-gradient(
      to bottom,
      getColor('bg-primary') 10%,
      getColor('bg-secondary') 10% 100%
    );
  }

  @include _tablet {
    padding-top: 60px;
    padding-bottom: 79px;

    background: linear-gradient(
      to bottom,
      getColor('bg-primary') 20%,
      getColor('bg-secondary') 20% 100%
    );
  }

  @include _desktop {
    padding-top: 66px;
    padding-bottom: 82px;

    background: linear-gradient(
      to bottom,
      getColor('bg-primary') 20%,
      getColor('bg-secondary') 20% 100%
    );
  }
}

.contacts__list {
  @include _phone {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include _tablet {
    display: flex;
    margin: -10px;
  }

  @include _desktop {
    display: flex;
    margin: -15px;
  }
}

.contacts__card {
  background-color: getColor('bg-primary');
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @include _phone {
    padding: 43px 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 54px;
    }
  }

  @include _tablet {
    margin: 10px;
    padding: 50px 31px;
  }

  @include _desktop {
    margin: 15px;
    padding: 51px 43px 62px;
  }
}

.contacts__name {
  display: inline-flex;
  align-items: center;

  border-radius: 4px;
  text-transform: uppercase;

  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;

  color: getColor('text-primary');
  background-color: getColor('bg-third');

  &--green {
    background-color: getColor('bg-fourth');
  }

  @include _phone {
    margin-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    height: 16px;

    font-size: 12px;
  }

  @include _tablet {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    height: 28px;

    font-size: 16px;
  }

  @include _desktop {
    margin-bottom: 32px;
    padding-right: 17px;
    padding-left: 17px;
    height: 28px;

    font-size: 16px;
  }
}

.contacts__position {
  border-bottom: 1px solid #e1e1e1;

  @include _phone {
    padding-bottom: 25px;
  }

  @include _tablet {
    padding-bottom: 30px;
  }

  @include _desktop {
    padding-bottom: 32px;
  }
}

.contacts__city {
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;

  color: getColor('text-secondary');

  @include _phone {
    margin-bottom: 10px;
    font-size: 12px;
  }

  @include _tablet {
    margin-bottom: 14px;
    font-size: 14px;
  }

  @include _desktop {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.contacts__address {
  font-style: normal;
  font-weight: 500;

  color: getColor('text-third');

  @include _phone {
    font-size: 12px;
    line-height: 1.5;
  }

  @include _tablet {
    font-size: 14px;
    line-height: 1.66;
  }

  @include _tablet {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts__schedule {
  border-bottom: 1px solid #e1e1e1;

  @include _phone {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include _tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include _desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__schedule-item:not(:last-child) {
  @include _phone {
    margin-bottom: 10px;
  }

  @include _tablet {
    margin-bottom: 16px;
  }

  @include _desktop {
    margin-bottom: 15px;
  }
}

.contacts__schedule-title {
  font-weight: 500;
  line-height: 1.86;

  color: getColor('text-secondary');

  @include _phone {
    font-size: 12px;
  }

  @include _tablet {
    font-size: 14px;
  }

  @include _desktop {
    font-size: 16px;
  }
}

.contacts__schedule-time {
  font-weight: 500;
  line-height: 1.86;

  color: getColor('text-fourth');

  @include _phone {
    font-size: 12px;
  }

  @include _tablet {
    font-size: 14px;
  }

  @include _desktop {
    font-size: 16px;
  }
}

.contacts__links {
  @include _phone {
    padding-top: 25px;
  }

  @include _tablet {
    padding-top: 30px;
  }

  @include _desktop {
    padding-top: 32px;
  }
}

.contacts__link {
  font-weight: 500;
  color: getColor('text-third');

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  @include _phone {
    font-size: 12px;
    line-height: 1.5;
  }

  @include _tablet {
    font-size: 14px;
    line-height: 1.83;
  }

  @include _desktop {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts__buttons {
  text-align: center;
  @include _tablet {
    display: flex;
    justify-content: center;
    margin-top: 81px;
  }

  @include _desktop {
    display: flex;
    justify-content: center;
    margin-top: 86px;
  }
}

.contacts__button-item:not(:last-child) {
  @include _phone {
    margin-bottom: 10px;
  }

  @include _tablet_and_desktop {
    margin-right: 15px;
  }
}

.contacts__button {
  @include centeredFlex();

  height: 44px;
  border: none;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  &--accent {
    color: getColor('text-primary');
    background: getColor('accent');
    @include _phone {
      width: 161px;
    }

    @include _tablet {
      width: 192px;
    }

    @include _desktop {
      width: 198px;
    }
  }

  &--accent:hover,
  &--accent:focus {
    background-color: #c7133e;
  }

  &--white {
    color: getColor('accent');
    background: getColor('bg-primary');

    @include _phone {
      width: 161px;
    }

    @include _tablet {
      width: 174px;
    }

    @include _desktop {
      width: 180px;
    }
  }

  &--white:hover,
  &--white:focus {
    background-color: getColor('button-bg-hover');
  }
}

.contacts__button-icon {
  margin-left: 13px;
}
