.gallery-modal {
  &--backdrop {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: getColor('bg-backdrop');

    opacity: 1;
    visibility: visible;
    transition: opacity 500ms $animation-cubic, visibility 500ms $animation-cubic;
  }

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 0 15px;
  }
}

.gallery-modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  display: inline-block;
  padding: 15px;

  @include _phone {
    max-width: 450px;
  }

  @include _tablet {
    max-width: 700px;
  }

  @include _desktop {
    max-width: 1050px;
  }

  @include _landscape {
    max-height: 90vh;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: getColor('bg-secondary');

  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: opacity 250ms $animation-cubic, transform 250ms $animation-cubic;

  .gallery-modal--is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
}

.gallery-modal__img-container {
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
}

.gallery-modal__img {
  // transition: opacity 250ms $animation-cubic, transform 250ms $animation-cubic;

  // .gallery-modal--is-hidden & {
  //   opacity: 0;
  //   transform: scale(0.5, 0.5);
  // }

  max-height: 80vh;
  width: 100%;
}

.gallery-modal__close {
  @include centeredFlex();

  position: absolute;
  top: 2px;
  right: 2px;

  width: 30px;
  height: 30px;

  border: none;

  color: getColor('button-text-third');
  background-color: transparent;
  transition: color 250ms $animation-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.gallery-modal__close-icon {
  fill: currentColor;
}

// img {
//   width: 100% !important;
// }

.sim-slider {
  max-width: 1000px;
  min-width: 320px;
  margin: 20px auto;
  padding: 30px 50px;
  border: 1px solid #ccd;
  background-color: white;
}

/* General styles */
.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url('http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png') no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url('http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png') no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1;
}

div.sim-slider-arrow-right:hover {
  opacity: 1;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}
