// /* ------------------------- Modal window ------------------------- */

.modal {
  &--backdrop {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: getColor('bg-backdrop');

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms $animation-cubic, visibility 250ms $animation-cubic;
  }

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 15px;
  max-width: 480px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: getColor('bg-primary');

  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: opacity 250ms $animation-cubic, transform 250ms $animation-cubic;

  .modal--is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }

  // @media screen and (max-width: 1199px) {
  //   max-width: 450px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 528px;
  // }
}

.modal__img-container {
  margin: auto;
  min-width: 260px;
  max-width: 450px;
}
// /* ------------------------- Button close ------------------------- */

.modal__close {
  @include centeredFlex();

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: getColor('button-text-third');
  background-color: getColor('bg-primary');
  transition: color 250ms $animation-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.modal__close-icon {
  fill: currentColor;
}
