/* ----------- Gallery Styles ----------- */
.gallery {
  padding-top: 48px;
  padding-bottom: 40px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
}

.gallery__item {
  border-radius: 8px;
  overflow: hidden;
}
