// /* ------------------------- Modal window ------------------------- */

.modal {
  &--backdrop {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: getColor('bg-backdrop');

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms $animation-cubic, visibility 250ms $animation-cubic;
  }

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.modal__container {
  position: relative;
  top: 50%;
  left: 50%;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: getColor('bg-primary');

  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: opacity 250ms $animation-cubic, transform 250ms $animation-cubic;

  .modal--is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }

  @media screen and (max-width: 1199px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

// /* ------------------------- Modal form ------------------------- */

.modal__container {
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: getColor('title-primary');
}

.modal__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:nth-child(-n + 3) {
    margin-bottom: 10px;
  }

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: getColor('text-primary');
}

.modal__input-container {
  position: relative;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $animation-cubic;

  .modal__field:focus-within & {
    outline: none;
    border-color: getColor('accent');
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: getColor('icon-secondary');

  transition: fill 250ms $animation-cubic;

  .modal__field:focus-within & {
    fill: getColor('accent');
  }
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $animation-cubic;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  .modal__field:focus-within & {
    outline: none;
    border-color: getColor('accent');
  }
}

.modal__checkbox {
  margin-bottom: 30px;
}

.modal__checkbox-label {
  @include centeredFlex();
}

.modal__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  @include centeredFlex();

  width: 16px;
  height: 16px;
  margin-right: 9px;
  padding: 0;

  fill: getColor('bg-primary');
  border: 2px solid getColor('border-checkbox');
  border-radius: 2px;

  transition: background-color 250ms $animation-cubic, border-color 250ms $animation-cubic;

  .modal__checkbox-input:checked + & {
    background-color: getColor('accent');
    background-origin: border-box;
    border-color: transparent;
  }
}

.modal__checkbox-text {
  // font-size: 14px;
  // line-height: 1.71;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: getColor('text-checkbox');
}

.modal__link {
  color: getColor('accent');
  text-decoration: underline;
}

.modal__button-container {
  text-align: center;
}

// /* ------------------------- Button close ------------------------- */

.modal__close {
  @include centeredFlex();

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: getColor('button-text-third');
  background-color: getColor('bg-primary');
  transition: color 250ms $animation-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.modal__close-icon {
  fill: currentColor;
}
