.gallery-modal {
  &--backdrop {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: getColor('bg-backdrop');

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms $animation-cubic, visibility 250ms $animation-cubic;
  }

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 0 15px;
  }
}

.gallery-modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 15px;

  @include _phone {
    max-width: 450px;
  }

  @include _tablet {
    max-width: 730px;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: getColor('bg-secondary');

  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: opacity 250ms $animation-cubic, transform 250ms $animation-cubic;

  .gallery-modal--is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
}

.gallery-modal__img-container {
  margin: auto;
  border-radius: 16px;
  overflow: hidden;

  @include _phone {
    min-height: 260px;
  }

  @include _tablet {
    min-height: 700px;
  }
}

.gallery-modal__img {
  transition: opacity 250ms $animation-cubic, transform 250ms $animation-cubic;

  .gallery-modal--is-hidden & {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

.gallery-modal__close {
  @include centeredFlex();

  position: absolute;
  top: 2px;
  right: 2px;

  width: 30px;
  height: 30px;

  border: none;

  color: getColor('button-text-third');
  background-color: transparent;
  transition: color 250ms $animation-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.gallery-modal__close-icon {
  fill: currentColor;
}
