/* Стили для подложки */

.modal__backdrop {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 105;
  transition: 300ms opacity $animation-cubic, 300ms visibility $animation-cubic;
}

/* Стили для модальных окон */

.modal__container {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Центрируем и задаем z-index */
  position: fixed;

  @include _phone_and_tablet {
    @include _landscape {
      overflow-y: scroll;
    }
  }

  top: 0;
  left: 0;
  z-index: 110; /* Должен быть выше чем у подложки*/
  width: 100%;
  height: 100%;
  /*  Задаём тень и закругление краёв  */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: 300ms opacity $animation-cubic, 300ms visibility $animation-cubic;
}

/* Стили для активных классов подложки и окна */

.modal__container.active,
.modal__backdrop.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross-container {
  position: absolute;
  top: 10px;
  right: 10px;

  @include centeredFlex();
  width: 30px;
  height: 30px;
  border: none;

  color: getColor('icon-secondary');
  background-color: getColor('accent');
  border-radius: 50%;
}

.modal__cross-container:hover {
  color: getColor('accent');
  background-color: getColor('bg-secondary');
}

.modal__cross {
  fill: currentColor;
}
