<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list">
      <div class="gallery__item" tabindex="0">
        <picture>
          <source
            sizes="(min-width: 768px) 50vw, 100vw"
            srcset="
              ./images/gallery/ice-cream-1/ice-cream-1-450.webp   450w,
              ./images/gallery/ice-cream-1/ice-cream-1-700.webp   700w,
              ./images/gallery/ice-cream-1/ice-cream-1-900.webp   900w,
              ./images/gallery/ice-cream-1/ice-cream-1-1050.webp 1050w,
              ./images/gallery/ice-cream-1/ice-cream-1-1400.webp 1400w,
              ./images/gallery/ice-cream-1/ice-cream-1-2100.webp 2100w
            "
            type="image/webp"
          />
          <img
            class="gallery__img"
            sizes="(min-width: 768px) 50vw, 100vw"
            srcset="
              ./images/gallery/ice-cream-1/ice-cream-1-450.jpg   450w,
              ./images/gallery/ice-cream-1/ice-cream-1-700.jpg   700w,
              ./images/gallery/ice-cream-1/ice-cream-1-900.jpg   900w,
              ./images/gallery/ice-cream-1/ice-cream-1-1050.jpg 1050w,
              ./images/gallery/ice-cream-1/ice-cream-1-1400.jpg 1400w,
              ./images/gallery/ice-cream-1/ice-cream-1-2100.jpg 2100w
            "
            src="./images/gallery/ice-cream-1/ice-cream-1-450.jpg"
            alt="Ice Cream"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="gallery__column-2">
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-2/ice-cream-2-450.webp   450w,
                ./images/gallery/ice-cream-2/ice-cream-2-700.webp   700w,
                ./images/gallery/ice-cream-2/ice-cream-2-900.webp   900w,
                ./images/gallery/ice-cream-2/ice-cream-2-1050.webp 1050w,
                ./images/gallery/ice-cream-2/ice-cream-2-1400.webp 1400w,
                ./images/gallery/ice-cream-2/ice-cream-2-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-2/ice-cream-2-450.jpg   450w,
                ./images/gallery/ice-cream-2/ice-cream-2-700.jpg   700w,
                ./images/gallery/ice-cream-2/ice-cream-2-900.jpg   900w,
                ./images/gallery/ice-cream-2/ice-cream-2-1050.jpg 1050w,
                ./images/gallery/ice-cream-2/ice-cream-2-1400.jpg 1400w,
                ./images/gallery/ice-cream-2/ice-cream-2-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-2/ice-cream-2-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-3/ice-cream-3-450.webp   450w,
                ./images/gallery/ice-cream-3/ice-cream-3-700.webp   700w,
                ./images/gallery/ice-cream-3/ice-cream-3-900.webp   900w,
                ./images/gallery/ice-cream-3/ice-cream-3-1050.webp 1050w,
                ./images/gallery/ice-cream-3/ice-cream-3-1400.webp 1400w,
                ./images/gallery/ice-cream-3/ice-cream-3-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-3/ice-cream-3-450.jpg   450w,
                ./images/gallery/ice-cream-3/ice-cream-3-700.jpg   700w,
                ./images/gallery/ice-cream-3/ice-cream-3-900.jpg   900w,
                ./images/gallery/ice-cream-3/ice-cream-3-1050.jpg 1050w,
                ./images/gallery/ice-cream-3/ice-cream-3-1400.jpg 1400w,
                ./images/gallery/ice-cream-3/ice-cream-3-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-3/ice-cream-3-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column-3">
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-4/ice-cream-4-450.webp   450w,
                ./images/gallery/ice-cream-4/ice-cream-4-700.webp   700w,
                ./images/gallery/ice-cream-4/ice-cream-4-900.webp   900w,
                ./images/gallery/ice-cream-4/ice-cream-4-1050.webp 1050w,
                ./images/gallery/ice-cream-4/ice-cream-4-1400.webp 1400w,
                ./images/gallery/ice-cream-4/ice-cream-4-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img gallery__img--accent"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-4/ice-cream-4-450.jpg   450w,
                ./images/gallery/ice-cream-4/ice-cream-4-700.jpg   700w,
                ./images/gallery/ice-cream-4/ice-cream-4-900.jpg   900w,
                ./images/gallery/ice-cream-4/ice-cream-4-1050.jpg 1050w,
                ./images/gallery/ice-cream-4/ice-cream-4-1400.jpg 1400w,
                ./images/gallery/ice-cream-4/ice-cream-4-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-4/ice-cream-4-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-5/ice-cream-5-450.webp   450w,
                ./images/gallery/ice-cream-5/ice-cream-5-700.webp   700w,
                ./images/gallery/ice-cream-5/ice-cream-5-900.webp   900w,
                ./images/gallery/ice-cream-5/ice-cream-5-1050.webp 1050w,
                ./images/gallery/ice-cream-5/ice-cream-5-1400.webp 1400w,
                ./images/gallery/ice-cream-5/ice-cream-5-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-5/ice-cream-5-450.jpg   450w,
                ./images/gallery/ice-cream-5/ice-cream-5-700.jpg   700w,
                ./images/gallery/ice-cream-5/ice-cream-5-900.jpg   900w,
                ./images/gallery/ice-cream-5/ice-cream-5-1050.jpg 1050w,
                ./images/gallery/ice-cream-5/ice-cream-5-1400.jpg 1400w,
                ./images/gallery/ice-cream-5/ice-cream-5-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-5/ice-cream-5-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column-4">
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-6/ice-cream-6-450.webp   450w,
                ./images/gallery/ice-cream-6/ice-cream-6-700.webp   700w,
                ./images/gallery/ice-cream-6/ice-cream-6-900.webp   900w,
                ./images/gallery/ice-cream-6/ice-cream-6-1050.webp 1050w,
                ./images/gallery/ice-cream-6/ice-cream-6-1400.webp 1400w,
                ./images/gallery/ice-cream-6/ice-cream-6-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-6/ice-cream-6-450.jpg   450w,
                ./images/gallery/ice-cream-6/ice-cream-6-700.jpg   700w,
                ./images/gallery/ice-cream-6/ice-cream-6-900.jpg   900w,
                ./images/gallery/ice-cream-6/ice-cream-6-1050.jpg 1050w,
                ./images/gallery/ice-cream-6/ice-cream-6-1400.jpg 1400w,
                ./images/gallery/ice-cream-6/ice-cream-6-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-6/ice-cream-6-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-7/ice-cream-7-450.webp   450w,
                ./images/gallery/ice-cream-7/ice-cream-7-700.webp   700w,
                ./images/gallery/ice-cream-7/ice-cream-7-900.webp   900w,
                ./images/gallery/ice-cream-7/ice-cream-7-1050.webp 1050w,
                ./images/gallery/ice-cream-7/ice-cream-7-1400.webp 1400w,
                ./images/gallery/ice-cream-7/ice-cream-7-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-7/ice-cream-7-450.jpg   450w,
                ./images/gallery/ice-cream-7/ice-cream-7-700.jpg   700w,
                ./images/gallery/ice-cream-7/ice-cream-7-900.jpg   900w,
                ./images/gallery/ice-cream-7/ice-cream-7-1050.jpg 1050w,
                ./images/gallery/ice-cream-7/ice-cream-7-1400.jpg 1400w,
                ./images/gallery/ice-cream-7/ice-cream-7-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-7/ice-cream-7-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column-5">
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-8/ice-cream-8-450.webp   450w,
                ./images/gallery/ice-cream-8/ice-cream-8-700.webp   700w,
                ./images/gallery/ice-cream-8/ice-cream-8-900.webp   900w,
                ./images/gallery/ice-cream-8/ice-cream-8-1050.webp 1050w,
                ./images/gallery/ice-cream-8/ice-cream-8-1400.webp 1400w,
                ./images/gallery/ice-cream-8/ice-cream-8-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-8/ice-cream-8-450.jpg   450w,
                ./images/gallery/ice-cream-8/ice-cream-8-700.jpg   700w,
                ./images/gallery/ice-cream-8/ice-cream-8-900.jpg   900w,
                ./images/gallery/ice-cream-8/ice-cream-8-1050.jpg 1050w,
                ./images/gallery/ice-cream-8/ice-cream-8-1400.jpg 1400w,
                ./images/gallery/ice-cream-8/ice-cream-8-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-8/ice-cream-8-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__item" tabindex="0">
          <picture>
            <source
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-9/ice-cream-9-450.webp   450w,
                ./images/gallery/ice-cream-9/ice-cream-9-700.webp   700w,
                ./images/gallery/ice-cream-9/ice-cream-9-900.webp   900w,
                ./images/gallery/ice-cream-9/ice-cream-9-1050.webp 1050w,
                ./images/gallery/ice-cream-9/ice-cream-9-1400.webp 1400w,
                ./images/gallery/ice-cream-9/ice-cream-9-2100.webp 2100w
              "
              type="image/webp"
            />
            <img
              class="gallery__img"
              sizes="(min-width: 768px) 50vw, 100vw"
              srcset="
                ./images/gallery/ice-cream-9/ice-cream-9-450.jpg   450w,
                ./images/gallery/ice-cream-9/ice-cream-9-700.jpg   700w,
                ./images/gallery/ice-cream-9/ice-cream-9-900.jpg   900w,
                ./images/gallery/ice-cream-9/ice-cream-9-1050.jpg 1050w,
                ./images/gallery/ice-cream-9/ice-cream-9-1400.jpg 1400w,
                ./images/gallery/ice-cream-9/ice-cream-9-2100.jpg 2100w
              "
              src="./images/gallery/ice-cream-9/ice-cream-9-450.jpg"
              alt="Ice Cream"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__item" tabindex="0">
        <picture>
          <source
            sizes="(min-width: 768px) 50vw, 100vw"
            srcset="
              ./images/gallery/ice-cream-10/ice-cream-10-450.webp   450w,
              ./images/gallery/ice-cream-10/ice-cream-10-700.webp   700w,
              ./images/gallery/ice-cream-10/ice-cream-10-900.webp   900w,
              ./images/gallery/ice-cream-10/ice-cream-10-1050.webp 1050w,
              ./images/gallery/ice-cream-10/ice-cream-10-1400.webp 1400w,
              ./images/gallery/ice-cream-10/ice-cream-10-2100.webp 2100w
            "
            type="image/webp"
          />
          <img
            class="gallery__img"
            sizes="(min-width: 768px) 50vw, 100vw"
            srcset="
              ./images/gallery/ice-cream-10/ice-cream-10-450.jpg   450w,
              ./images/gallery/ice-cream-10/ice-cream-10-700.jpg   700w,
              ./images/gallery/ice-cream-10/ice-cream-10-900.jpg   900w,
              ./images/gallery/ice-cream-10/ice-cream-10-1050.jpg 1050w,
              ./images/gallery/ice-cream-10/ice-cream-10-1400.jpg 1400w,
              ./images/gallery/ice-cream-10/ice-cream-10-2100.jpg 2100w
            "
            src="./images/gallery/ice-cream-10/ice-cream-10-450.jpg"
            alt="Ice Cream"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
