.read__modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
  @include centeredFlex();
  &-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  &-window {
    position: relative;
    z-index: 2;
    max-width: 550px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    background-color: getColor(bg-secondary);
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/read-bg/read-bg-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/read-bg/read-bg-2x.png);
    }
    @media screen and (min-width: 480px) {
      background-image: url(../images/read-bg/read-bg-1x-tablet.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/read-bg/read-bg-2x-tablet.png);
      }
    }
  }
  &-close {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    border: 1px solid getColor(accent);
    border-radius: 50%;
    background: getColor(bg-secondary);
    opacity: 0.6;
    transition: 250ms $animation-cubic;
    &:hover,
    &:focus {
      opacity: 1;
      border: 2px solid getColor(accent);
    }
  }
  &-svg {
    fill: #000000;
  }
  &-tittle {
    font-family: Titan One;
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
  }
  &-description {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
