<div class="modal__container modal__container--by_now" data-modal-container="1">
  <button class="modal__cross-container" aria-level="Close">
    <svg class="modal__cross js-modal-close" width="18" height="18" data-modal-close>
      <use href="./images/icons.svg#modal_close"></use>
    </svg>
  </button>

  <form action="#" class="modal-form">
    <p class="modal-form__head">Leave your details, we will call you back</p>
    <span class="modal-form__input_container">
      <label class="modal-form__label">
        Name
        <span class="modal-form__wrapper">
          <input
            type="text"
            class="modal-form__input"
            name="user-name"
            minlength="2"
            pattern="[a-zA-Zа-яёА-ЯЁ]+"
            title="The name must contain Cyrillic or Latin characters"
            aria-label="User name"
            required
          />
          <svg class="icon modal-form__icon" width="18" height="18">
            <use href="./images/icons.svg#person"></use>
          </svg>
        </span>
      </label>

      <label class="modal-form__label">
        Phone
        <span class="modal-form__wrapper">
          <input
            type="tel"
            class="modal-form__input"
            name="user-tel"
            title="The phone must be in the format 0991110000"
            pattern="[0-9]{10}"
            aria-label="Phone"
            required
          />
          <svg class="icon modal-form__icon" width="18" height="18">
            <use href="./images/icons.svg#phone"></use>
          </svg>
        </span>
      </label>

      <label class="modal-form__label">
        Email
        <span class="modal-form__wrapper">
          <input
            type="email"
            class="modal-form__input"
            name="user-email"
            title="Mail must be in the format user@gmail.com"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            aria-label="Email"
            required
          />
          <svg class="icon modal-form__icon" width="18" height="18">
            <use href="./images/icons.svg#email"></use>
          </svg>
        </span>
      </label>
    </span>

    <label class="modal-form__label">
      Order
      <textarea
        class="modal-form__message"
        name="user-message"
        aria-label="Order"
        placeholder="Enter message"
      ></textarea>
    </label>

    <label class="modal-form__checkbox-label">
      <input
        type="checkbox"
        class="modal-form__checkbox visually-hidden"
        aria-label="Checkbox"
        required
      />
      <svg class="subscribe-form__check-icon icon" width="15" height="14">
        <use href="./images/icons.svg#icon_check"></use>
      </svg>
      &nbsp; I agree with the terms and accept &nbsp;
      <a class="modal-form__policy" href="#">Delivery conditions</a>
    </label>

    <button aria-label="Send" class="modal-form__button" type="submit">Send</button>
  </form>
</div>
