<!-- Модальное окно кнопки "Локация" -->
<div class="modal__container modal__locations" data-modal-container="2">
  <div class="modal__locations-container">
    <iframe
      class="modal__locations_iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799184417!2d-74.25987656873812!3d40.69767006297679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sua!4v1638704452341!5m2!1sen!2sua"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <button class="modal__cross-container" aria-label="Close">
      <svg class="modal__cross js-modal-close" data-modal-close>
        <use href="./images/icons.svg#modal_close"></use>
      </svg>
    </button>
  </div>
</div>
