<!-- Модальное окно кнопки "Фланшиза" -->
<div class="modal__container modal__franchise" data-modal-container="4">
  <div class="modal__franchise-container">
    <iframe
      class="modal__franchise_iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188820.04330439502!2d-71.1103705158075!3d42.31451859240079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C%20MA%2C%20USA!5e0!3m2!1sen!2sua!4v1638704638623!5m2!1sen!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    >
    </iframe>
    <button class="modal__cross-container" aria-label="Close">
      <svg class="modal__cross js-modal-close" data-modal-close>
        <use href="./images/icons.svg#modal_close"></use>
      </svg>
    </button>
  </div>
</div>
