<div class="read__modal" id="about-modal">
  <div class="read__modal-window">
    <h2 class="read__modal-tittle">how it’s made?</h2>
    <p class="read__modal-description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ratione praesentium fuga quia ut
      animi quis in quas soluta tempore consequuntur blanditiis esse at asperiores facere beatae, et
      magnam voluptas.
    </p>
    <button class="read__modal-close" aria-label="Close">
      <svg class="read__modal-svg" width="10px" height="10px">
        <use href="./images/icons-read-more.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="read__modal-overlay"></div>
</div>
