<section class="customer-reviews reviews">
  <h2 id="reviwes" class="visually-hidden">Customer reviews</h2>
  <div class="container container-reviews">

    <div class="reviews__card">
      <img class="reviews__img" src="images/customer-review/customer-1.png" 
           alt="customer" width="85" height="85"
           srcset="images/customer-review/customer-1.png 1x, images/customer-review/customer-1@2x.png 2x, images/customer-review/customer-1@3x.png 3x">
      <div class="reviews__quote">
        <p class="reviews__text">I love Ice creams, Cool and smoothy, A heavenly dish which every one want to relish. Ice creams are loved by people of
        all age group, any caste or religion, any country or region, part of all functions and parties, as its smooth, creamy,
        cool and makes you chill and enjoy forgetting everything and only concentrating on your ice cream.</p>
      </div>
      <div class="reviews__dot"></div>
      <p class="reviews__name">Emily, Los Angeles</p>
    </div>

    <div class="reviews__card">
      <img class="reviews__img" src="images/customer-review/customer-2.png" alt="customer" width="85" height="85"
        srcset="images/customer-review/customer-2.png 1x, images/customer-review/customer-2@2x.png 2x, images/customer-review/customer-2@3x.png 3x">
      <div class="reviews__quote">
        <p class="reviews__text">love Ice creams, Cool and smoothy, A heavenly dish which every one want to relish. Ice creams are loved by people of
        all age group, any caste or religion, any country or region, part of all functions and parties, as its smooth, creamy,
        cool and makes you chill and enjoy forgetting everything and only concentrating on your ice cream.</p>
      </div>
      <div class="reviews__dot"></div>
      <p class="reviews__name">Kate, New York</p>
    </div>

    <div class="reviews__card">
      <img class="reviews__img" src="images/customer-review/customer-3.png" alt="customer" width="85" height="85"
           srcset="images/customer-review/customer-3.png 1x, images/customer-review/customer-3@2x.png 2x, images/customer-review/customer-3@3x.png 3x">
        <div class="reviews__quote">
          <p class="reviews__text">love Ice creams, Cool and smoothy, A heavenly dish which every one want to relish. Ice creams are loved by people of
          all age group, any caste or religion, any country or region, part of all functions and parties, as its smooth, creamy,
          cool and makes you chill and enjoy forgetting everything and only concentrating on your ice cream.</p>
        </div>
        <div class="reviews__dot"></div>
        <p class="reviews__name">Lisa, London</p>
    </div>

  </div>
</section>
