<section class="footer">

  <div class="container">


  <h2 class="footer__tittle">Footer</h2>


  <div class="footer__description">
  <p class="footer__description1">homemade ice cream made</p>
  <p class="footer__description2">with passion</p>
  </div>


  <ul class="footer-social">
    <li class="footer-social__item">
        <svg class="footer-social__svg"> 
            <a class="footer-social__link" href="">
              <use href="./images/social_footer.svg#icon-github">
              </use>
            </a>
        </svg>  
    </li>

    <li class="footer-social__item">
        <svg class="footer-social__svg">
            <a class="footer-social__link" href="">
              <use href="./images/social_footer.svg#icon-telegram">
              </use>
            </a>
        </svg>
    </li>

    <li class="footer-social__item"> 
        <svg class="footer-social__svg">
            <a class="footer-social__link" href="">
              <use href="./images/social_footer.svg#icon-facebook">
              </use>
            </a>
        </svg>
    </li>
  </ul>



  <div class="footer-contact">
    <p class="footer-contact__description">Feel free to contact <a class="footer-contact__link" href="tel:+610383766284">+61 (0) 383 766 284</a></p>
  </div>
</div>

  <div class="footer-signature">
    <p class="footer-signature__description">
    © 2019 - IceCream. <br>
    All Rights Reserved.
    </p>
  </div>
  
</section>
