<section class="footer">
  <div class="container">
    <h2 class="visually-hidden">Footer</h2>

    <div class="footer__content">
      <div class="footer__description">
        <p class="footer__description1">homemade ice cream made</p>
        <p class="footer__description2">with passion</p>
      </div>

      <div class="footer__contact">
        <ul class="footer__social">
          <li class="footer__social-item">
            <a class="footer__social-link" href="">
            <svg class="footer__social-svg" height="18.82" width="18.82">
                <use href="./images/icons.svg#github"></use>
            </svg>
          </a>
          </li>

          <li class="footer__social-item">
            <a class="footer__social-link" href="">
            <svg class="footer__social-svg" height="18.82" width="18.82">
                <use href="./images/icons.svg#telegram"></use>
            </svg>
          </a>
          </li>

          <li class="footer__social-item">
            <a class="footer__social-link" href="">
            <svg class="footer__social-svg" height="18.82" width="18.82">
                <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
          </li>
        </ul>

        <p class="footer__contact-description">
          Feel free to contact
          <a class="footer__contact-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer__signature">
    <p class="footer__signature-description">
      © 2019 - IceCream. <br />
      All Rights Reserved.
    </p>
  </div>
</section>
