<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list" aria-expanded="false" aria-controls="modal" data-modal-open>
      <div class="gallery__item">
        <img
          class="gallery__img"
          src="./images/gallery/ice-cream-1/ice-cream-1-40.jpg"
          alt="Ice Cream"
        />
      </div>
      <div class="gallery__column-2">
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-2/ice-cream-2.jpg"
            alt="Ice Cream"
          />
        </div>
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-3/ice-cream-3.jpg"
            alt="Ice Cream"
          />
        </div>
      </div>
      <div class="gallery__column-3">
        <div class="gallery__item">
          <img
            class="gallery__img gallery__img--accent"
            src="./images/gallery/ice-cream-4/ice-cream-4.jpg"
            alt="Ice Cream"
          />
        </div>
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-5/ice-cream-5.jpg"
            alt="Ice Cream"
          />
        </div>
      </div>
      <div class="gallery__column-4">
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-6/ice-cream-6.jpg"
            alt="Ice Cream"
          />
        </div>
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-7/ice-cream-7.jpg"
            alt="Ice Cream"
          />
        </div>
      </div>
      <div class="gallery__column-5">
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-8/ice-cream-8.jpg"
            alt="Ice Cream"
          />
        </div>
        <div class="gallery__item">
          <img
            class="gallery__img"
            src="./images/gallery/ice-cream-9/ice-cream-9.jpg"
            alt="Ice Cream"
          />
        </div>
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          src="./images/gallery/ice-cream-10/ice-cream-10.jpg"
          alt="Ice Cream"
        />
      </div>
    </div>
  </div>
</section>
