<section class="header" id="header">
  <header class="header">
    <div class="container header__container">
    <nav class="header__nav">
      <a  href="#header" class="link header__logo">
      <picture>
        <source media="(max-width: 20px)" srcset="images/header/logo-1.png, images/header/logo-1@2x.png, images/header/logo-1@3x.png" type="image/png">
        <img src="images/header/logo-1.png" alt="logo" loading="lazy"></a>
      </picture>
      <ul class="header__list list">
        <li class="header__item"><a href="#header" class="header__link link">Home</a></li>
        <li class="header__item"><a href="#hero" class="header__link link">About us</li>
        <li class="header__item"><a href="#about" class="header__link link">How it’s made?</a></li>
        <li class="header__item"><a href="#products" class="header__link link">Our products</a></li>
        <li class="header__item"><a href="#contacts" class="header__link link">Contact</a></li>
    </ul>
  </nav>
  
     <!--mobile menu -->
     <div class="tablet-menu">
  <button class="burger-btn js-open-menu">
    <svg class="burger-icon" width="20" height="12">
        <use href="images/icons.svg#burger"></use>
    </svg>
  </button>
  <div class="mobile-menu js-menu-container">
  <button class="mobile-btn mobile-btn-wrap" type="button" data-modal-open="1">Buy now<svg class="mobile-btn-icon" width="2.26px" height="8">
    <use href="images/icons.svg#arrow"></use>
  </svg></button>
    <div class="mobile-menu-nav">
        <nav class="mobile-nav">
            <ul class="mobile-nav__list list">
                <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#header">Home</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#hero">About us</li>
                <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#about">How it’s made?</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#products">Our products</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
    </div>
    <button class="close-mobile-btn js-close-menu">
        <svg class="close-btn-icon" width="14" height="14">
            <use href="images/icons.svg#close"></use>
        </svg>
    </button>
  </div>
  <!--End mobile menu -->
  <button class="header__btn header__btn-wrap" type="button" data-modal-open="1">Buy now<svg class="mobile-btn-icon" width="2.26px" height="8">
    <use href="images/icons.svg#arrow"></use>
  </svg></button>
  </div>
  </div>
  
  
  </section>
  
