<section class="header">
<header class="header">
  <div class="conteiner header__conteiner">
  <nav class="header__nav">
  <a  class="link header__logo" href=""><img src="../images/header/logo 1.png" alt="logo"></a>
</nav>
   <!--mobile menu -->
<button class="burger-btn">
  <svg class="burger-icon">
      <use href="../images/icons.svg#burger" width="20" height="12"></use>
  </svg>
</button>
<div class="mobile-menu">
<button class="mobile-btn" type="button">Buy now</button>
  <div class="mobile-menu-nav">
      <nav class="mobile-nav">
          <ul class="mobile-nav__list list">
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">Home</a></li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">About us</li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">How it’s made?</a></li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">Our products</a></li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">Contact</a></li>
          </ul>
      </nav>
  </div>
  <button class="close-mobile-btn" type="button">
      <svg class="close-btn-icon">
          <use href="./images/icons.svg#burger" width="14" height="14"></use>
      </svg>
  </button>
</div>
</div>
<!--End mobile menu -->
</section>
