<section class="header">
<header class="header">
  <div class="container header__container">
  <nav class="header__nav">
  <a  class="link header__logo" href="">
    <picture>
      <source media="(min-width: 767px)" srcset="images/header/logo-1.png, images/header/logo-1@2x.png, images/header/logo-1@3x.png" type="image/png">
      <img src="images/header/logo-1.png" alt="logo" loading="lazy"></a>
    </picture>
</nav>
   <!--mobile menu -->
<button class="burger-btn js-open-menu">
  <svg class="burger-icon">
      <use href="images/icons.svg#burger" width="20" height="12"></use>
  </svg>
</button>
<div class="mobile-menu js-menu-container">
<button class="mobile-btn mobile-btn-wrap" type="button" modal>Buy now<svg class="mobile-btn-icon">
  <use href="images/icons.svg#arrow" width="2.26px" height="8"></use>
</svg></button>
  <div class="mobile-menu-nav">
      <nav class="mobile-nav">
          <ul class="mobile-nav__list list">
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#header.html">Home</a></li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#hero.html">About us</li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#about.html">How it’s made?</a></li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#gallery.html">Our products</a></li>
              <li class="mobile-nav__item"><a class="mobile-nav__link link" href="#contacts.html">Contact</a></li>
          </ul>
      </nav>
  </div>
  <button class="close-mobile-btn js-close-menu">
      <svg class="close-btn-icon">
          <use href="images/icons.svg#close" width="14" height="14"></use>
      </svg>
  </button>
</div>
</div>
<!--End mobile menu -->
</section>
