<section class="hero">
  <div class="container hero__container">
    <div class="hero__title-block">
      <h1 class="hero__title">
        Ice cream <br />
        made with <br />
        <span class="hero__title-accent">passion</span>
      </h1>
      <a href="#products" class="hero__anchor hero__anchor--products">Products</a>
      <a href="#about" class="hero__anchor hero__anchor--about">How it’s made?</a>
    </div>

    <div class="hero__jug_milk_block">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            images/hero/hero_jug_milk_d.png    1x,
            images/hero/hero_jug_milk_d@2x.png 2x,
            images/hero/hero_jug_milk_d@3x.png 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/hero/hero_jug_milk_t.png    1x,
            images/hero/hero_jug_milk_t@2x.png 2x,
            images/hero/hero_jug_milk_t@3x.png 3x
          "
        />
        <img class="hero__jug_milk_img" src="#" alt="Кувшин с молоком" />
      </picture>
      <p class="hero__jug_milk_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <svg class="hero__arrow">
        <use href="images/icons.svg#arrow-right"></use>
      </svg>
    </div>

    <div class="hero__ice_cream_block">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            images/hero/hero_ice_cream_d.png    1x,
            images/hero/hero_ice_cream_d@2x.png 2x,
            images/hero/hero_ice_cream_d@3x.png 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/hero/hero_ice_cream_t.png    1x,
            images/hero/hero_ice_cream_t@2x.png 2x,
            images/hero/hero_ice_cream_t@3x.png 3x
          "
        />
        <source
          srcset="
            images/hero/hero_ice_cream.png    1x,
            images/hero/hero_ice_cream@2x.png 2x,
            images/hero/hero_ice_cream@3x.png 3x
          "
        />
        <img class="hero__ice_cream_img" src="#" alt="Мороженое-рожек" />
      </picture>
    </div>

    <ul class="hero__mark_list">
      <li class="hero__mark_item">
        <span class="hero__mark_number">16</span>
        <p class="hero__mark_text">cafes</p>
      </li>
      <li class="hero__mark_item">
        <span class="hero__mark_number">23</span>
        <p class="hero__mark_text">food trucks</p>
      </li>
    </ul>

    <div class="hero__girl_block">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            images/hero/hero_tasty_girl_d.png    1x,
            images/hero/hero_tasty_girl_d@2x.png 2x,
            images/hero/hero_tasty_girl_d@3x.png 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/hero/hero_tasty_girl_t.png    1x,
            images/hero/hero_tasty_girl_t@2x.png 2x,
            images/hero/hero_tasty_girl_t@3x.png 3x
          "
        />
        <img class="hero__tasty_girl_img" src="#" alt="Девушка с мороженым" />
      </picture>
    </div>
  </div>
</section>
