<section class="hero">
  <div class="container hero__container">
    <div class="hero__title-block">
      <h1 class="hero__title">
        Ice cream <br />
        made with <br />
        <span class="hero__title-accent">passion</span>
      </h1>
      <a href="#products" class="hero__anchor hero__anchor--products">Products</a>
      <a href="#about" class="hero__anchor hero__anchor--about">How it’s made?</a>
    </div>
    <div class="hero__ice_cream_block">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            images/hero/hero_ice_cream_d.png    1x,
            images/hero/hero_ice_cream_d@2x.png 2x,
            images/hero/hero_ice_cream_d@3x.png 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/hero/hero_ice_cream_t.png    1x,
            images/hero/hero_ice_cream_t@2x.png 2x,
            images/hero/hero_ice_cream_t@3x.png 3x
          "
        />
        <source
          srcset="
            images/hero/hero_ice_cream.png    1x,
            images/hero/hero_ice_cream@2x.png 2x,
            images/hero/hero_ice_cream@3x.png 3x
          "
        />
        <img class="hero__ice_cream_img" src="#" alt="Мороженое-рожек" />
      </picture>
    </div>
  </div>
</section>
