<section class="hero">
  <div class="container hero__container">
    <div class="hero__title-block">
      <h1 class="hero__title">
        Ice cream <br />
        made with <br />
        <span class="hero__title-accent">passion</span>
      </h1>
      <a href="#products" class="hero__anchor hero__anchor--products">Products</a>
      <a href="#about" class="hero__anchor hero__anchor--about">How it’s made?</a>
    </div>
    <div class="hero__ice_cream_block">
      <img class="hero__ice_cream_img" src="images/hero/hero_ice_cream.png" alt="Мороженое-рожек" />
    </div>
  </div>
</section>
