<div class="products-modal">
  <div class="container products-modal__container">
    <button class="products-modal__close-btn" data-menu-close aria-label="Закрыть">
      <svg class="products-modal__close-icon">
        <use href="./images/icons.svg#close-modal"></use>
      </svg>
    </button>

    <div class="products-modal__block">
      <h1 class="products-modal__title">Icecream</h1>
      <picture>
        <source media="" srcset="./images/products/products-1.png" type="image/png" />

        <img class="products-modal__img" src="#" alt="Icecream" />
      </picture>

      <!-- <p class="products-modal__label">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A ducimus, consectetur vitae
        aliquid sit provident totam.
      </p> -->
    </div>
    <div class="products-modal__section">
      <div class="products-modal__img-block">
        <picture>
          <source media="" srcset="./images/products/Icecream-cup.png" type="image/png" />

          <img class="products-modal__img" src="#" alt="Icecream" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
    </div>
    <div class="products-modal__section products-modal__section--mobile-hidden">
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
      <div class="products-modal__img-block">
        <picture>
          <source media="" srcset="./images/products/Icecream-balls.png" type="image/png" />

          <img class="products-modal__img" src="#" alt="Icecream" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
    </div>
    <button class="products-modal__btn" type="button">Buy now</button>
  </div>
</div>
