<div class="products-modal modal__container" data-modal-container="5">
  <div class="container products-modal__container">
    <button class="products-modal__close-btn" data-modal-close aria-label="Закрыть">
      <svg class="products-modal__close-icon">
        <use href="./images/icons.svg#close-modal"></use>
      </svg>
    </button>

    <div class="products-modal__block">
      <h1 class="products-modal__title">Icecream</h1>
      <picture>
        <source
          media="(min-width: 1279px)"
          srcset="
            ./images/products/products-1-d.webp    1x,
            /images/products/products-1-d@2x.webp  2x,
            ./images/products/products-1-d@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/products/products-1-t.webp    1x,
            ./images/products/products-1-t@2x.webp 2x,
            ./images/products/products-1-t@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/products/products-1.webp    1x,
            ./images/products/products-1@2x.webp 2x,
            ./images/products/products-1@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1279px)"
          srcset="
            ./images/products/products-1-d.png    1x,
            ./images/products/products-1-d@2x.png 2x,
            ./images/products/products-1-d@3x.png 3x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/products/products-1-t.png    1x,
            ./images/products/products-1-t@2x.png 2x,
            ./images/products/products-1-t@3x.png 3x
          "
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products-1.png    1x,
            ./images/products/products-1@2x.png 2x,
            ./images/products/products-1@3x.png 3x
          "
          type="image/png"
        />

        <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
      </picture>

      <p class="products-modal__label">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A ducimus, consectetur vitae
        aliquid sit provident totam.
      </p>
    </div>
    <div class="products-modal__section">
      <div class="products-modal__img-block">
        <picture>
          <source
            srcset="
              ./images/products/icecream-cup.webp    1x,
              ./images/products/icecream-cup@2x.webp 2x,
              ./images/products/icecream-cup@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/icecream-cup.png    1x,
              ./images/products/icecream-cup@2x.png 2x,
              ./images/products/icecream-cup@3x.png 3x
            "
            type="image/png"
          />
          <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
    </div>
    <div class="products-modal__section products-modal__section--mobile-hidden">
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
      <div class="products-modal__img-block">
        <picture>
          <source
            srcset="
              ./images/products/icecream-balls.webp    1x,
              ./images/products/icecream-balls@2x.webp 2x,
              ./images/products/icecream-balls@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/icecream-balls.png    1x,
              ./images/products/icecream-balls@2x.png 2x,
              ./images/products/icecream-balls@3x.png 3x
            "
            type="image/png"
          />

          <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
    </div>
    <button class="products-modal__btn" type="button" data-modal-open="1">Buy now</button>
  </div>
</div>
<div class="products-modal products-modal--icecoffee-bg modal__container" data-modal-container="6">
  <div class="container products-modal__container">
    <button class="products-modal__close-btn" data-modal-close aria-label="Закрыть">
      <svg class="products-modal__close-icon">
        <use href="./images/icons.svg#close-modal"></use>
      </svg>
    </button>

    <div class="products-modal__block">
      <h1 class="products-modal__title">Ice coffee</h1>
      <picture>
        <source
          media="(min-width: 1279px)"
          srcset="
            ./images/products/products-2-d.webp    1x,
            /images/products/products-2-d@2x.webp  2x,
            ./images/products/products-2-d@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/products/products-2-t.webp    1x,
            ./images/products/products-2-t@2x.webp 2x,
            ./images/products/products-2-t@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/products/products-2.webp    1x,
            ./images/products/products-2@2x.webp 2x,
            ./images/products/products-2@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1279px)"
          srcset="
            ./images/products/products-2-d.png    1x,
            ./images/products/products-2-d@2x.png 2x,
            ./images/products/products-2-d@3x.png 3x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/products/products-2-t.png    1x,
            ./images/products/products-2-t@2x.png 2x,
            ./images/products/products-2-t@3x.png 3x
          "
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products-2.png    1x,
            ./images/products/products-2@2x.png 2x,
            ./images/products/products-2@3x.png 3x
          "
          type="image/png"
        />

        <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
      </picture>

      <p class="products-modal__label">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A ducimus, consectetur vitae
        aliquid sit provident totam.
      </p>
    </div>
    <div class="products-modal__section">
      <div class="products-modal__img-block">
        <picture>
          <source
            srcset="
              ./images/products/icecoffee-1.webp    1x,
              ./images/products/icecoffee-1@2x.webp 2x,
              ./images/products/icecoffee-1@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/icecoffee-1.png    1x,
              ./images/products/icecoffee-1@2x.png 2x,
              ./images/products/icecoffee-1@3x.png 3x
            "
            type="image/png"
          />
          <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
    </div>
    <div class="products-modal__section products-modal__section--mobile-hidden">
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
      <div class="products-modal__img-block">
        <picture>
          <source
            srcset="
              ./images/products/icecoffee-2.webp    1x,
              ./images/products/icecoffee-2@2x.webp 2x,
              ./images/products/icecoffee-2@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/icecoffee-2.png    1x,
              ./images/products/icecoffee-2@2x.png 2x,
              ./images/products/icecoffee-2@3x.png 3x
            "
            type="image/png"
          />

          <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
    </div>
    <button class="products-modal__btn" type="button" data-modal-open="1">Buy now</button>
  </div>
</div>
<div class="products-modal products-modal--milkshakes-bg modal__container" data-modal-container="7">
  <div class="container products-modal__container">
    <button class="products-modal__close-btn" data-modal-close aria-label="Закрыть">
      <svg class="products-modal__close-icon">
        <use href="./images/icons.svg#close-modal"></use>
      </svg>
    </button>

    <div class="products-modal__block">
      <h1 class="products-modal__title">Milkshakes</h1>
      <picture>
        <source
          media="(min-width: 1279px)"
          srcset="
            ./images/products/products-3-d.webp    1x,
            /images/products/products-3-d@2x.webp  2x,
            ./images/products/products-3-d@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/products/products-3-t.webp    1x,
            ./images/products/products-3-t@2x.webp 2x,
            ./images/products/products-3-t@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/products/products-3.webp    1x,
            ./images/products/products-3@2x.webp 2x,
            ./images/products/products-3@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1279px)"
          srcset="
            ./images/products/products-3-d.png    1x,
            ./images/products/products-3-d@2x.png 2x,
            ./images/products/products-3-d@3x.png 3x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/products/products-3-t.png    1x,
            ./images/products/products-3-t@2x.png 2x,
            ./images/products/products-3-t@3x.png 3x
          "
          type="image/png"
        />
        <source
          srcset="
            ./images/products/products-3.png    1x,
            ./images/products/products-3@2x.png 2x,
            ./images/products/products-3@3x.png 3x
          "
          type="image/png"
        />

        <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
      </picture>

      <p class="products-modal__label">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A ducimus, consectetur vitae
        aliquid sit provident totam.
      </p>
    </div>
    <div class="products-modal__section">
      <div class="products-modal__img-block">
        <picture>
          <source
            srcset="
              ./images/products/milkshakes-1.webp    1x,
              ./images/products/milkshakes-1@2x.webp 2x,
              ./images/products/milkshakes-1@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/milkshakes-1.png    1x,
              ./images/products/milkshakes-1@2x.png 2x,
              ./images/products/milkshakes-1@3x.png 3x
            "
            type="image/png"
          />
          <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
    </div>
    <div class="products-modal__section products-modal__section--mobile-hidden">
      <div class="products-modal__description">
        <h2 class="products-modal__subtitle">Flavors</h2>
        <p class="products-modal__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod, temporibus
          numquam natus, unde placeat autem velit aut ipsam a pariatur facere sit perferendis, illum
          possimus eos recusandae hic quidem consequuntur? Cumque aliquid sunt possimus velit
          deleniti, voluptatem dicta qui vel in perferendis molestiae, officia modi quos ut,
          voluptatibus amet?
        </p>
      </div>
      <div class="products-modal__img-block">
        <picture>
          <source
            srcset="
              ./images/products/milkshakes-2.webp    1x,
              ./images/products/milkshakes-2@2x.webp 2x,
              ./images/products/milkshakes-2@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/milkshakes-2.png    1x,
              ./images/products/milkshakes-2@2x.png 2x,
              ./images/products/milkshakes-2@3x.png 3x
            "
            type="image/png"
          />

          <img class="products-modal__img" src="#" alt="Icecream" loading="lazy" />
        </picture>

        <p class="products-modal__label">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas.
        </p>
      </div>
    </div>
    <button class="products-modal__btn" type="button" data-modal-open="1">Buy now</button>
  </div>
</div>
